*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f1f3f6;
}

.header{
background:#2874f0;
padding:15px 5%;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo-box{
display:flex;
align-items:center;
gap:10px;
}

.logo-box img{
width:50px;
}

.logo-box h2{
color:white;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.cart-section{
padding:40px;
}

.cart-section h1{
margin-bottom:20px;
}

.cart-item{
background:white;
padding:20px;
margin-bottom:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.remove-btn{
background:red;
color:white;
border:none;
padding:8px 12px;
cursor:pointer;
border-radius:5px;
}

.cart-summary{
margin-top:30px;
text-align:right;
}

.cart-summary button{
background:#2874f0;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
border-radius:5px;
margin-top:10px;
}