*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f5f7fb;
}

.container{
    max-width:1300px;
    margin:auto;
    padding:40px;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.cart-section,
.checkout-section{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 5px 25px rgba(0,0,0,.08);
}

h1,h2{
    margin-bottom:25px;
}

.cart-card{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    border:1px solid #eee;
    border-radius:15px;
    margin-bottom:15px;
}

.product-info h3{
    margin-bottom:8px;
}

.price{
    color:#22c55e;
    font-weight:600;
}

.quantity{
    display:flex;
    gap:10px;
    align-items:center;
}

.quantity button{
    width:35px;
    height:35px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

.summary{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.qr{
    width:250px;
    display:block;
    margin:auto;
    margin-top:25px;
}

.checkout-btn{
    width:100%;
    margin-top:25px;
    height:55px;
    border:none;
    background:#22c55e;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}