.variation{
    margin:10px 20px;
    text-align:left;
}

.variation label{
    display:block;
    margin-bottom:5px;
    color:#cbd5e1;
    font-size:14px;
}

.variation select{
    width:100%;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#334155;
    color:white;
    outline:none;
}