body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #131921;
  color: white;
  align-items: center;
}

.logo {
  width: 60px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  background: white;
}

.btn {
  padding: 10px 20px;
  background: orange;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}